/**
Custom CSS for the UI goes here
**/

h1,
h2,
h3,
h4,
h5,
.panel-title {
  font-family: Roboto, arial;
}
.main-view {
}

.sidemenu {
    font-family: Roboto, arial;
    font-size: 1.2rem;
}

.panel-title {
  font-size: 1.2em;
}
.panel-content {
  font-size: 0.9em;
}